<div>
    <h2 data-translate="imdbexplorerApp.person.home.title">People</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="person.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="imdbexplorerApp.person.home.createLabel">
                        Create new Person
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="imdbexplorerApp.person.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="index"><span data-translate="imdbexplorerApp.person.index">Index</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="imdbexplorerApp.person.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="afid"><span data-translate="imdbexplorerApp.person.afid">Afid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insert"><span data-translate="imdbexplorerApp.person.insert">Insert</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="path"><span data-translate="imdbexplorerApp.person.path">Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in vm.people track by person.id">
                    <td><a ui-sref="person-detail({id:person.id})">{{person.id}}</a></td>
                    <td>{{person.name}}</td>
                    <td>{{person.index}}</td>
                    <td data-translate="{{'imdbexplorerApp.RecordStatus.' + person.status}}">{{person.status}}</td>
                    <td>
                        <a ng-if="person.afid" ng-click="vm.openFile(person.afidContentType, person.afid)" data-translate="entity.action.open">open</a>
                        <span ng-if="person.afid">{{person.afidContentType}}, {{vm.byteSize(person.afid)}}</span>
                    </td>
                    <td>{{person.insert | date:'medium'}}</td>
                    <td>{{person.path}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person-detail({id:person.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.edit({id:person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.delete({id:person.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
